{% assign firstTime = true %}
<!-- seccion para mostrar productos de cada kit -->
{% for product in collections.all.products %}
<!-- se iteran todos los productos, si entran en los nombres de abajo, pasan y se agregan el contenido -->
{% assign my_descriptionP = product.description | split: '<!-- split -->'  %}
  {% if current_url contains '/products/kit-detox' %}
  <!-- por ejemplo, si el producto es kit detox, se checa que si los productos que se iteran conteienen estos titulos que pasen -->
    {% if product.title contains 'espirulina' or product.title contains 'Purexil' or product.title contains 'Jugo' or product.title contains 'Fibra' or product.title contains 'Clorofila' %}
      <div class="productIndividualContainer">
        <h1 class="productIndividualTitle">{{ product.title }}</h1>
        <h3>{{ my_descriptionP[0] }}</h3>
        <h3>{{ my_descriptionP[1] }}</h3>
        <h3>{{ my_descriptionP[2] }}</h3>
      </div>
    {% endif %}
  {% endif %}
  {% if current_url contains '/products/paquete-peso-saludable-nutrix' or current_url contains '/products/peso-saludable-reto-nutrix-30-dias' %}
    {% if product.title contains 'L-Carnitina' or product.title contains 'Proteína' or product.title contains 'Cetonas' or product.title contains 'NUTRIM' %}     
      <div class="productIndividualContainer">
        <h1 class="productIndividualTitle">{{ product.title }}</h1>
        <h3>{{ my_descriptionP[0] }}</h3>
        <h3>{{ my_descriptionP[1] }}</h3>
        <h3>{{ my_descriptionP[2] }}</h3>
      </div>
    {% endif %}
  {% endif %}
  {% if current_url contains '/products/salud-de-la-mujer' %}
    {% if product.title contains 'Iso' or product.title contains 'Yoga' or product.title contains 'Hammamelis' or product.title contains 'Vitamina B' or product.title contains 'Colágeno' %}
      <div class="productIndividualContainer">
        <h1 class="productIndividualTitle">{{ product.title }}</h1>
        <h3>{{ my_descriptionP[0] }}</h3>
        <h3>{{ my_descriptionP[1] }}</h3>
        <h3>{{ my_descriptionP[2] }}</h3>
      </div>
    {% endif %}
  {% endif %}
  {% if current_url contains '/products/kit-de-inicio' %}
    {% if product.title contains 'Fortiflex' or product.title contains 'Fortialoe' or product.title contains 'Proteína' %}
      <div class="productIndividualContainer">
        <h1 class="productIndividualTitle">{{ product.title }}</h1>
        <h3>{{ my_descriptionP[0] }}</h3>
        <h3>{{ my_descriptionP[1] }}</h3>
        <h3>{{ my_descriptionP[2] }}</h3>
      </div>
    {% endif %}
  {% endif %}
  {% if current_url contains '/products/senor-mayor' %}
    {% if product.title contains 'Colágeno' or product.title contains 'OMEGAS' or product.title contains 'Fibra' or product.title contains 'Fortiflex' or product.title contains 'Complejo B' %}
      <div class="productIndividualContainer">
        <h1 class="productIndividualTitle">{{ product.title }}</h1>
        <h3>{{ my_descriptionP[0] }}</h3>
        <h3>{{ my_descriptionP[1] }}</h3>
        <h3>{{ my_descriptionP[2] }}</h3>
      </div>
    {% endif %}
  {% endif %}
  {% if current_url contains '/products/sport' or current_url contains '/products/2-proteinas-2-carnitinas' %}
    {% if product.title contains 'Fortiflex' or product.title contains 'Proteína' or product.title contains 'L-Carnitina' %}
      <div class="productIndividualContainer">
        <h1 class="productIndividualTitle">{{ product.title }}</h1>
        <h3>{{ my_descriptionP[0] }}</h3>
        <h3>{{ my_descriptionP[1] }}</h3>
        <h3>{{ my_descriptionP[2] }}</h3>
      </div>
    {% endif %}
  {% endif %}
  {% if current_url contains '/products/mujer-joven-belleza-radiante' %}
    {% if product.title contains 'Loción' or product.title contains 'Colágeno' or product.title contains 'OMEGAS' or product.title contains 'Vitamina B' or product.title contains 'CoQ10'%}
      <div class="productIndividualContainer">
        <h1 class="productIndividualTitle">{{ product.title }}</h1>
        <h3>{{ my_descriptionP[0] }}</h3>
        <h3>{{ my_descriptionP[1] }}</h3>
        <h3>{{ my_descriptionP[2] }}</h3>
      </div>
    {% endif %}
  {% endif %}
  {% if current_url contains '/products/salud-digestiva' %}
    {% if product.title contains 'Purexil' or product.title contains 'Fibra' or product.title contains 'Fortialoe' or product.title contains 'Probióticos' %}
      <div class="productIndividualContainer">
        <h1 class="productIndividualTitle">{{ product.title }}</h1>
        <h3>{{ my_descriptionP[0] }}</h3>
        <h3>{{ my_descriptionP[1] }}</h3>
        <h3>{{ my_descriptionP[2] }}</h3>
      </div>
    {% endif %}
  {% endif %}
  {% if current_url contains '/products/dia-y-noche' %}
      {% if product.title contains 'Zenful' or product.title contains 'Bioful' or product.title contains 'Jugo' %}
      <div class="productIndividualContainer">
        <h1 class="productIndividualTitle">{{ product.title }}</h1>
        <h3>{{ my_descriptionP[0] }}</h3>
        <h3>{{ my_descriptionP[1] }}</h3>
        <h3>{{ my_descriptionP[2] }}</h3>
      </div>
    {% endif %}
  {% endif %}
    {% if current_url contains '/products/mujer-fitness' %}
      {% if product.title contains 'Proteína' or product.title contains 'Cetonas' or product.title contains 'L-Carnitina' or product.title contains 'Colágeno' %}
      <div class="productIndividualContainer">
        <h1 class="productIndividualTitle">{{ product.title }}</h1>
        <h3>{{ my_descriptionP[0] }}</h3>
        <h3>{{ my_descriptionP[1] }}</h3>
        <h3>{{ my_descriptionP[2] }}</h3>
      </div>
    {% endif %}
  {% endif %}
  {% if current_url contains '/products/sistema-circulatorio' %}
      {% if product.title contains 'OMEGAS' or product.title contains 'Fibra' or product.title contains 'CoQ10' %}
      <div class="productIndividualContainer">
        <h1 class="productIndividualTitle">{{ product.title }}</h1>
        <h3>{{ my_descriptionP[0] }}</h3>
        <h3>{{ my_descriptionP[1] }}</h3>
        <h3>{{ my_descriptionP[2] }}</h3>
      </div>
    {% endif %}
  {% endif %}
  {% if current_url contains '/products/sistema-protector' %}
      {% if product.title contains 'Shiitake' or product.title contains 'Pro-Tct' %}
      <div class="productIndividualContainer">
        <h1 class="productIndividualTitle">{{ product.title }}</h1>
        <h3>{{ my_descriptionP[0] }}</h3>
        <h3>{{ my_descriptionP[1] }}</h3>
        <h3>{{ my_descriptionP[2] }}</h3>
      </div>
    {% endif %}
  {% endif %}
{% endfor %}
