<div class="cart-pop-items">
  <h1 class="cart-pop-title">Tu carrito</h1>
    <form action="/cart" method="post">
      <div class="cartPopItemsContainer">
      {% for item in cart.items %}
      <div class="popIndividualIitem">
        <img class="popIndividualImg" src="{{ item.image.src | img_url: 'master' }}" alt="" />
        <div class="popIndividualPrice">
          <a href="item.url"><h1>{{ item.title | truncate: 13 }}</h1></a>
          <p>{{ item.price | money }}</p>
        </div>
        <div class="popIndividualQuantity">
          <div class="popIndividualInput">
            <div class="quantityButtons">
              <button onclick="removeItemFunction({{ forloop.index }});" value="" class="productQuantityAdd" id="removebtnNojs" type="button" name="button"></button>
              <input class="productQuantityy" min="1" type="number" id="quantity" name="quantity" value="{{ item.quantity }}" />
              <button onclick="addItemFunction({{ forloop.index }});" class="productQuantityAdd" id="addbtnNojs" type="button" name="button"></button>
            </div>
            <button onclick="deleteItemFunction({{ forloop.index }});" class="individualProductDelete" type="button" name="button"></button>
          </div>
          <img src="" alt="" />
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="cart-pop-total">
      <p class="total" id="CartTotal">Total</p>
      <span>{{ cart.total_price | money }}</span>
      <h4>Impuestos y envío se calculan al proceder con pago.</h4>
    </div>
    <input class="cart-pop-botton" type="submit" name="checkout" value="Procede con tu pago">
    <input class="cart-pop-exit" type="button" value="Sigue comprando">
      <input id="cart-exit-close-btn" class="cart-pop-exit" type="button" value="X">
  </form>
</div>
<div class="cart-pop-related">
  <h1 class="cart-pop-related-title">Otros clientes tambi&#233;n compraron</h1>
  {% include 'related-cart-pop' %}
</div>
<script type="text/javascript">
var itemQuantity = 1
function addItemFunction (lineIndex) {
  jQuery.getJSON('/cart.js', function(cart) {
    itemQuantity = ((cart.items[lineIndex-1].quantity) + 1)
    console.log(itemQuantity);
    jQuery.post('/cart/change.js', { quantity: itemQuantity, line: lineIndex }, function(data){
      loadCartAjax();
    },'json');
   });
}
function removeItemFunction (lineIndex) {
  jQuery.getJSON('/cart.js', function(cart) {
    itemQuantity = ((cart.items[lineIndex-1].quantity) - 1)
    console.log(itemQuantity);
    jQuery.post('/cart/change.js', { quantity: itemQuantity, line: lineIndex }, function(data){
      loadCartAjax();
    },'json');
   });
}
function deleteItemFunction (lineIndex) {
  jQuery.getJSON('/cart.js', function(cart) {
    itemQuantity = 0
    console.log(itemQuantity);
    jQuery.post('/cart/change.js', { quantity: itemQuantity, line: lineIndex }, function(data){
      loadCartAjax();
    },'json');
   });
}

  function loadCartAjax () {
    jQuery.getJSON('/cart.js', function(cart) {
      $(".cart-pop-total span").text(Shopify.formatMoney(cart.total_price));
      $(".cartPopItemsContainer").empty();
       $.each(cart.items, function(i, item) {
         console.log(item.title);
         $(".cartPopItemsContainer").append('<div class="popIndividualIitem"><img class="popIndividualImg" src='+item.image+' alt="" /><div class="popIndividualPrice"><a href="'+item.url+'"><h1>'+(item.title).trunc(11)+'</h1></a><p>'+"$ "+((item.price)/100).toFixed(2)+'</p></div><div class="popIndividualQuantity"><div class="popIndividualInput"><div class="quantityButtons"><button onclick="removeItemFunction('+(i+1)+');" value="" class="productQuantityAdd" id="removebtnNojs" type="button" name="button"></button><input class="productQuantityy" min="1" type="number" id="quantity" name="quantity" value="'+item.quantity+'" /><button onclick="addItemFunction('+(i+1)+');" class="productQuantityAdd" id="addbtnNojs" type="button" name="button"></button></div><button onclick="deleteItemFunction('+(i+1)+');" class="individualProductDelete" type="button" name="button"></button></div><img src="" alt="" /></div></div>');
       });
    });
  }
</script>


{% comment %}
{% assign type = cart_form %}
<form action="/cart" method="post" novalidate class="cart" id="site-cart-form-{{ type }}">
<h1 class="cart-pop-title">Tu carrito</h1>
<div class="cart-items pop">
{% for item in cart.items %}
<div class="cart-item pop">
<a href="{{ item.url | within: collections.all }}" class="thumbnail">
<img src="{{ item | img_url: '200x240', crop: 'center' }}" alt="{{ item.title | escape }}">
</a>
<div class="content">
<a href="{{ item.url }}" class="title">
{{ item.product.title }}
</a>
<span class="price">{{ item.line_price | money }}</span>
{% unless item.variant.title contains 'Default' %}
<small>{{ item.variant.title }}</small>
{% endunless %}
{% assign property_size = item.properties | size %}
{% if property_size > 0 %}
{% for p in item.properties %}
{% unless p.last == blank %}
{{ p.first }}:
{% if p.last contains '/uploads/' %}
<a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
{% else %}
{{ p.last }}
{% endif %}
{% endunless %}
{% endfor %}
{% endif %}
</div>
{% if type == 'page' %}
<div class="actions">
<input class="qty" type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0" aria-label="{{ 'product.quantity' | t }}">
<a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="remove" aria-label="{{ 'cart.remove_item' | t }}"><span aria-hidden="true">{% include 'asset_svg' with 'close_icon' %}</span></a>
</div>
{% else %}
<div>
<span class="no-qty">x{{ item.quantity }}</span>
</div>
{% endif %}
</div>
{% endfor %}
</div>
<div class="cart-pop-total">
<p class="total" id="CartTotal">Total</p>
<span>{{ cart.total_price | money }}</span>
<h4>Impuestos y envío se calculan al proceder con pago.</h4>
</div>
{% if settings.cart_notes_enable %}
<textarea class="cart-pop-notes" name="note" id="cartSpecialInstructions" placeholder="{{ 'cart.note' | t }}" aria-label="{{ 'cart.note' | t }}">{{ cart.note }}</textarea>
{% endif %}
<div class="cart-out">
<div style="margin-top: 20px;">
{% if type == 'page' %}
<button name="update" class="button outline less-padding" style="margin-right: 10px; position: relative; top: -2px;" aria-label="{{ 'cart.update_cart' | t }}">{% include 'asset_svg' with 'reload_icon' %}</button>
{% else %}
<button class="button accent" style="margin-right: 10px;">{{ 'sidebar.cart.view_cart' | t }}</button>
{% endif %}
<input class="cart-pop-botton" type="submit" name="checkout" value="Procede con tu pago">
<input class="cart-pop-exit" type="button" value="Sigue comprando">
</div>
</div>
</form>
{% endcomment %}
