<a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}" class="product-item style--{{ settings.product_animation }}">

  {% if collection.image %}
    {% assign collection_image = collection.image %}
  {% elsif collection.products.first != blank %}
    {% assign collection_image = collection.products.first %}
  {% endif %}

  <div class="box--product-image primary">
    
    <img
      src="{{ collection_image | img_url: '960x' }}" alt="{{ collection_image | escape }}"
      srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-srcset="{{ collection_image | img_url: '360x' }} 360w, {{ collection_image | img_url: '480x' }} 480w, {{ collection_image | img_url: '960x' }} 960w, {{ collection_image | img_url: '1440x' }} 1440w, {{ collection_image | img_url: '1920x' }} 1920w"
      data-sizes="auto"
      class="lazyload"
    />
    
    <noscript><span class="ll-fallback" style="background-image:url({{ collection_image | img_url: '960x' }})"></span></noscript> 

  </div>

  <div class="caption">
    <div>
      <h3><span class="overflowed">{{ collection.title }}</span></h3>
      <span class="price"><span class="overflowed">{{ 'collections.general.view_products' | t }}</span></span>
      <span aria-hidden="true">{% include 'asset_svg' with 'arrow_icon_long_overflowed' %}</span>
    </div>
  </div>

</a>