<div class="footer-content site-box-content" {{ block.shopify_attributes }}>

  {% if block.settings.title %}
    <h4>{{ block.settings.title | escape }}</h4>
  {% endif %}

  {% form 'customer' %}
    {{ form.errors | default_errors }}

      {% if form.posted_successfully? %}

        <div class="note form-success">{{ 'general.newsletter.confirmation' | t }}</div>

      {% else %}

        <div class="input-group">
          <input type="hidden" name="contact[tags]" value="newsletter">
          <input class="newsletterInput" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Correo electrónico" name="contact[email]" id="Email" aria-label="{{ 'general.newsletter.email_label' | t }}" autocorrect="off" autocapitalize="off">
          <input type="submit" name="commit" id="Subscribe" value="Suscr&#237;bete">
        </div>

      {% endif %}

  {% endform %}

  {% if block.settings.caption %}
    <p class="caption">{{ block.settings.caption | escape }}</p>
  {% endif %}

</div>
