{% assign size = header_footer-social %}
<div class="site-social" aria-label="{{ 'general.social_profiles' | t }}">

	{% if settings.social_twitter != '' %}
		<a href="{{ settings.social_twitter | escape }}" title="Twitter - {{shop.name}}" target="_blank" aria-label="Twitter"><span class="icon {{ size }}" aria-hidden="true">{% include 'asset_svg' with 'social_twitter' %}</span></a>
	{% endif %}

	{% if settings.social_facebook != '' %}
		<a href="{{ settings.social_facebook | escape }}" title="Facebook - {{shop.name}}" target="_blank" aria-label="Facebook"><span class="icon {{ size }}" aria-hidden="true">{% include 'asset_svg' with 'social_facebook' %}</span></a>
	{% endif %}

	{% if settings.social_google != '' %}
		<a href="{{ settings.social_google | escape }}" title="Google - {{shop.name}}" target="_blank" aria-label="Google Plus"><span class="icon {{ size }}" aria-hidden="true">{% include 'asset_svg' with 'social_google' %}</span></a>
	{% endif %}

	{% if settings.social_youtube != '' %}
		<a href="{{ settings.social_youtube | escape }}" title="Youtube - {{shop.name}}" target="_blank" aria-label="YouTube"><span class="icon {{ size }}" aria-hidden="true">{% include 'asset_svg' with 'social_youtube' %}</span></a>
	{% endif %}

	{% if settings.social_vimeo != '' %}
		<a href="{{ settings.social_vimeo | escape }}" title="Vimeo - {{shop.name}}" target="_blank" aria-label="Vimeo"><span class="icon {{ size }}" aria-hidden="true">{% include 'asset_svg' with 'social_vimeo' %}</span></a>
	{% endif %}

	{% if settings.social_pinterest != '' %}
		<a href="{{ settings.social_pinterest | escape }}" title="Pinterest - {{shop.name}}" target="_blank" aria-label="Pinterest"><span class="icon {{ size }}" aria-hidden="true">{% include 'asset_svg' with 'social_pinterest' %}</span></a>
	{% endif %}

	{% if settings.social_tumblr != '' %}
		<a href="{{ settings.social_tumblr | escape }}" title="Tumblr - {{shop.name}}" target="_blank" aria-label="Tumblr"><span class="icon {{ size }}" aria-hidden="true">{% include 'asset_svg' with 'social_tumblr' %}</span></a>
	{% endif %}

	{% if settings.social_instagram != '' %}
		<a href="{{ settings.social_instagram | escape }}" title="Instagram - {{shop.name}}" target="_blank" aria-label="Instagram"><span class="icon {{ size }}" aria-hidden="true">{% include 'asset_svg' with 'social_instagram' %}</span></a>
	{% endif %}

	{% if settings.social_linkedin != '' %}
		<a href="{{ settings.social_linkedin | escape }}" title="Linkedin - {{shop.name}}" target="_blank" aria-label="LinkedIn"><span class="icon {{ size }}" aria-hidden="true">{% include 'asset_svg' with 'social_linkedin' %}</span></a>
	{% endif %}

	{% if settings.social_flickr != '' %}
		<a href="{{ settings.social_flickr | escape }}" title="Flickr - {{shop.name}}" target="_blank" aria-label="Flickr"><span class="icon {{ size }}" aria-hidden="true">{% include 'asset_svg' with 'social_flickr' %}</span></a>
	{% endif %}

	{% if settings.social_reddit != '' %}
		<a href="{{ settings.social_reddit | escape }}" title="Reddit - {{shop.name}}" target="_blank" aria-label="Reddit"><span class="icon {{ size }}" aria-hidden="true">{% include 'asset_svg' with 'social_reddit' %}</span></a>
	{% endif %}

	{% if settings.social_email != '' %}
		<a href="mailto:{{ settings.social_email | escape }}" title="Email - {{shop.name}}" target="_blank" aria-label="Email"><span class="icon {{ size }}" aria-hidden="true">{% include 'asset_svg' with 'social_email' %}</span></a>
	{% endif %}

</div>