<div style="display: flex; justify-content: center; flex-flow: row wrap; width: 80%; margin: auto;">
{% for product in collections.all.products %}
  {% if current_url contains '/products/kit-detox' %}
    {% if product.title contains 'espirulina' or product.title contains 'Purexil' or product.title contains 'Jugo' or product.title contains 'Fibra' or product.title contains 'Clorofila' %}
    <div>
      <img src="{{ product.featured_image.src | product_img_url: 'medium' }}" alt="">
    </div>
    {% endif %}
  {% endif %}
  {% if current_url contains '/products/paquete-peso-saludable-nutrix' %}
    {% if product.title contains 'L-Carnitina' or product.title contains 'Proteína' or product.title contains 'Cetonas' or product.title contains 'NUTRIM' %}
    <div>
      <img src="{{ product.featured_image.src | product_img_url: 'medium' }}" alt="">
    </div>
    {% endif %}
  {% endif %}
  {% if current_url contains '/products/salud-de-la-mujer' %}
    {% if product.title contains 'Iso' or product.title contains 'Yoga' or product.title contains 'Hammamelis' or product.title contains 'Vitamina B' or product.title contains 'Colágeno' %}
    <div>
      <img src="{{ product.featured_image.src | product_img_url: 'medium' }}" alt="">
    </div>
    {% endif %}
  {% endif %}
  {% if current_url contains '/products/kit-de-inicio' %}
    {% if product.title contains 'Fortiflex' or product.title contains 'Fortialoe' or product.title contains 'Proteína' %}
    <div>
      <img src="{{ product.featured_image.src | product_img_url: 'medium' }}" alt="">
    </div>
    {% endif %}
  {% endif %}
  {% if current_url contains '/products/senor-mayor' %}
    {% if product.title contains 'Fortiflex' or product.title contains 'Fibra' or product.title contains 'Fortialoe' or product.title contains 'Glucosamina' %}
    <div>
      <img src="{{ product.featured_image.src | product_img_url: 'medium' }}" alt="">
    </div>
    {% endif %}
  {% endif %}
  {% if current_url contains '/products/sport' %}
    {% if product.title contains 'Fortiflex' or product.title contains 'Proteína' or product.title contains 'L-Carnitina' %}
    <div>
      <img src="{{ product.featured_image.src | product_img_url: 'medium' }}" alt="">
    </div>
    {% endif %}
  {% endif %}
  {% if current_url contains '/products/mujer-joven-belleza-radiante' %}
    {% if product.title contains 'Loción' or product.title contains 'Áloe' or product.title contains 'Colágeno' or product.title contains 'Arándano' %}
    <div>
      <img src="{{ product.featured_image.src | product_img_url: 'medium' }}" alt="">
    </div>
    {% endif %}
  {% endif %}
{% endfor %}
</div>
