{% unless product.available %}
  <div class="product-badge sold"><span>{{ 'product.sold_out' | t }}</span></div>
{% else %}
  {% if product.compare_at_price > product.price %}
    <!-- <div class="product-badge sale"><span>{{ 'product.on_sale' | t }}</span></div> -->
    <img class="productOffer" src="https://cdn.shopify.com/s/files/1/1955/0919/files/Nutrix-Icon-OFERTA-v3.svg?14557291750225882159" alt="">
  {% endif %}
{% endunless %}
