<div id="site-navigation" class="site-nav-container">

  <div class="site-nav-container-last">

    <p class="title">{{ 'sidebar.menu' | t }}</p>

    <div class="top">

      <nav class="primary-menu">{% include 'header_nav-menu' with section.settings.menu_main_select %}</nav>

    </div>

    <div class="to-bottom-content">

      <div class="logoSidebar">
        <img src="//cdn.shopify.com/s/files/1/1955/0919/files/logo_2018_nutrix_200x.png" alt="Logo - {{shop.name}}">
        <p>&#169; Nutrix México 2018</p>
      </div>
      {% include 'header_footer-social' with 'regular' %}

    </div>

  </div>

</div>
