{% assign article_image = '' %}
{% if template contains 'product' %}

  <meta property="og:type" content="product">
  <meta property="og:title" content="{{ product.title | strip_html | escape }}">
  {% for image in product.images limit:3 %}
    <meta property="og:image" content="http:{{ image.src | img_url: '1024x' }}">
    <meta property="og:image:secure_url" content="https:{{ image.src | img_url: '1024x' }}">
  {% endfor %}
  <meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html | escape }}">
  <meta property="og:price:currency" content="{{ shop.currency }}">

{% elsif template contains 'article' %}

  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ article.title | strip_html | escape }}">

  {% if article.image %}
    <meta property="og:image" content="http:{{ article.image.src | img_url: '1024x' }}">
    <meta property="og:image:secure_url" content="https:{{ article.image.src | img_url: '1024x' }}">
  {% endif %}

{% else %}

  <meta property="og:type" content="website">
	<!--<meta property="fb:app_id" content="232954617297981">-->

  <meta property="og:title" content="{{ page_title | escape }}">
  <meta property="og:image" content="https://cdn.shopify.com/s/files/1/1955/0919/files/Nutrix-Icon-Logo_x1024.png">

{% endif %}

{% if page_description %}
  <meta property="og:description" content="{{ page_description | escape }}">
{% endif %}

<meta property="og:url" content="{{ canonical_url }}">
<meta property="og:site_name" content="{{ shop.name }}">

{% if settings.twittercard_handle != blank %}
  <meta name="twitter:site" content="{{ settings.twittercard_handle }}">
{% endif %}

<meta name="twitter:card" content="summary">

{% if template contains 'product' %}

  <meta name="twitter:title" content="{{ product.title }}">
  <meta name="twitter:description" content="{{ product.description | strip_html | truncatewords: 140, '' | escape }}">
  <meta name="twitter:image" content="https:{{ product.featured_image.src | img_url: '1024x' }}">
  <meta name="twitter:image:width" content="1024">

{% elsif template contains 'article' %}

  <meta name="twitter:title" content="{{ article.title }}">
  <meta name="twitter:description" content="{{ article.excerpt_or_content | strip_html | truncatewords: 140, '' | escape }}">

  {% if article.image %}
    <meta property="twitter:image" content="{{ article.image.src | img_url: '1024x' }}">
  {% endif %}

{% endif %}