<!DOCTYPE html>
<html lang="ES-MX">
<!--[if IE 9]><html class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta name="google-site-verification" content="MZyFEQuBDuLe1vB0oHbduZMECG0d8baQ3yTn__NKhNo" />
  <meta charset="utf-8"/>
  <!--<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  <title>
    {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape | truncate: 120 }}">
  {% endif %}
  
  {% if template contains 'search' or template contains 'tags'%}
	<meta name="robots" content="noindex">
  {% endif %}
  
  {% include 'social_meta' %}
  
  

  <link rel="canonical" href="{{ canonical_url }}">
  
  <link rel="stylesheet" href="https://use.typekit.net/lvk6sww.css">
  
  {{ content_for_header }}

 
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

<!-- STYLESHEETS -->
 
    <style>
/*SLICK*/
.slick-slider{position: relative; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent;}.slick-list{position: relative; overflow: hidden; display: block; margin: 0; padding: 0;}.slick-list:focus{outline: none;}.slick-loading .slick-list{background: #fff url({{'ajax-loader.gif' | asset_url}}) center center no-repeat;}.slick-list.dragging{cursor: pointer; cursor: hand;}.slick-slider .slick-track{-webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}.slick-track{position: relative; left: 0; top: 0; display: block;}.slick-track:before,.slick-track:after{content: ""; display: table;}.slick-track:after{clear: both;}.slick-loading .slick-track{visibility: hidden;}.slick-slide{float: left; height: 100%; min-height: 1px; display: none;}[dir="rtl"] .slick-slide{float: right;}.slick-slide img{display: block;}.slick-slide.slick-loading img{display: none;}.slick-slide.dragging img{pointer-events: none;}.slick-initialized .slick-slide{display: block;}.slick-loading .slick-slide{visibility: hidden;}.slick-vertical .slick-slide{display: block; height: auto; border: 1px solid transparent;}.slick-prev,.slick-next{position: absolute; display: block; height: 20px; width: 20px; line-height: 0; font-size: 0; cursor: pointer; background: transparent; color: transparent; top: 50%; margin-top: -10px; padding: 0; border: none; outline: none;}.slick-prev:hover,.slick-prev:focus,.slick-next:hover,.slick-next:focus{outline: none; background: transparent; color: transparent;}.slick-prev:hover:before,.slick-prev:focus:before,.slick-next:hover:before,.slick-next:focus:before{opacity: 1;}.slick-prev.slick-disabled:before,.slick-next.slick-disabled:before{opacity: .25;}.slick-prev:before,.slick-next:before{font-family: "slick"; font-size: 20px; line-height: 1; color: white; opacity: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}.slick-prev{left: -25px;}[dir="rtl"] .slick-prev{left: auto; right: -25px;}.slick-prev:before{content: "←";}[dir="rtl"] .slick-prev:before{content: "→";}.slick-next{right: -25px;}[dir="rtl"] .slick-next{left: -25px; right: auto;}.slick-next:before{content: "→";}[dir="rtl"] .slick-next:before{content: "←";}.slick-slider{margin-bottom: 30px;}.slick-dots{position: relative; bottom: 0; list-style: none; display: inline; text-align: center; padding: 0; width: 100%;}.slick-dots li{position: relative; display: inline-block; height: 20px; width: 11px; margin: 0 8px; padding: 0; cursor: pointer;}.slick-dots li button{border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0; font-size: 0; color: transparent; padding: 5px; cursor: pointer;}.slick-dots li button:hover,.slick-dots li button:focus{outline: none;}.slick-dots li button:hover:before,.slick-dots li button:focus:before{opacity: 1;}.slick-dots li button:before{position: absolute; top: 0; left: 0; content: "•"; width: 20px; height: 20px; font-size: 0; line-height: 20px; text-align: center; color: black; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}.slick-dots li.slick-active button:before{color: black; opacity: .75;}
  </style>

 {{ 'css_main.scss.css' | asset_url | stylesheet_tag }}
  
  
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template.name }} template-{{ template | replace: '.', ' ' | handle }}">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZG9W5F"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
  {% section 'header' %}

  <main class="wrapper main-content" id="main" role="main">

    {{ content_for_layout }}

    {% section 'footer-new' %}
  </main>

  <div id="site-overlay" class="site-overlay"></div>
    
  {% capture jQuery_arrow_down %} {% include "asset_svg" with "arrow_icon" %} {% endcapture %}
  {% capture jQuery_arrow_right %} {% include "asset_svg" with "arrow_icon_smaller" %} {% endcapture %}
  {% capture jQuery_icon_heart %} {% include "asset_svg" with "heart_icon" %} {% endcapture %}
  {% capture jQuery_icon_twitter %} {% include "asset_svg" with "twitter_icon" %} {% endcapture %}
  {% capture jQuery_icon_instagram %} {% include "asset_svg" with "social_instagram" %} {% endcapture %}
  {% capture jQuery_icon_zoom %} {% include "asset_svg" with "zoom_out_icon" %} {% endcapture %}
  
  {%comment%}JQUERY VER. 2.2.4{%endcomment%}
  <script src="{{ 'jquery.min.js' | asset_url}}"></script>
  
    
  {% include 'ajaxify-cart-so' %}
  
  
  
  <script type="text/javascript">
    jQuery.themeAssets = {
      arrowDown: '{{ jQuery_arrow_down | lstrip | rstrip }}',
      arrowRight: '{{ jQuery_arrow_right | lstrip | rstrip }}',
      iconHeart: '{{ jQuery_icon_heart | lstrip | rstrip }}',
      iconTwitter: '{{ jQuery_icon_twitter | lstrip | rstrip }}',
      iconInstagram: '{{ jQuery_icon_instagram | lstrip | rstrip }}',
      iconZoom: '{{ jQuery_icon_zoom | lstrip | rstrip }}'
    };
    jQuery.themeCartSettings = '{{ settings.cart_action }}';
  </script>
   
  <!-- Scripts -->
  <script src="{{ 'js_plugins.min.js' | asset_url}}" ></script>
 
  <script src="{{ 'custom.min.js' | asset_url}}" defer async></script>

  <script src="{{ 'js_main.min.js' | asset_url}}" ></script>

  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}

  
  

  <script type="text/javascript">
	window.start = Date.now();
    window.shop_money_format = "{{ shop.money_format }}";
    window.product_words_add_to_cart_button = "{{ 'product.add_to_cart' | t }}";
    window.product_words_sold_out_variant = "{{ 'product.inventory.sold_out_variant' | t }}";
    window.product_words_unavailable_variant = "{{ 'product.inventory.unavailable_variant' | t }}";
    window.product_words_one_product = "{{ 'product.inventory.one_product' | t }}";
    window.product_words_few_products = "{{ 'product.inventory.few_products' | t }}";
    window.product_words_no_products = "{{ 'product.inventory.no_products' | t }}";
    window.product_words_preorder = "{{ 'product.inventory.preoder' | t }}";
  </script>
  
  

  {% if settings.thumb_resize == 'fit' %}
    <style type="text/css">
      .box__collection .box--product-image {
        background-size: contain;
        width: 100%;
        height: 100%;
        margin: 0%;
        padding: 7%;
      }
    </style>
  {% endif %}
  
  {%comment%}COLLECTION FILTERS SCRIPT{%endcomment%}
  {% if template == 'collection' %}
  <script type="text/javascript">
	window.CuberCollectionFilter = {
    'pathname': document.location.pathname + document.location.search,
    'sort': ''
  }

  $(document).on('shopify:section:select', function(e){
    var $section = $(e.target);
    if ( $section.hasClass('collection-page') ) {
      initFilters();
    }
  });

  function initFilters() {

    var $filters = jQuery('.filter-by');

    $filters.change(function() {
      var newTags = [];
      $filters.each(function() { 
        if (jQuery(this).val()) {
          newTags.push(jQuery(this).val());
        }
      });
      if (newTags.length) {
        var query = newTags.join('+');
        window.CuberCollectionFilter['pathname'] = $('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('tag', query);
      } else {
        {% if collection.handle %}
          window.CuberCollectionFilter['pathname'] = '/collections/{{ collection.handle }}';
        {% elsif collection.products.first.type == collection.title %}
          window.CuberCollectionFilter['pathname'] = '{{ collection.title | url_for_type }}';
        {% elsif collection.products.first.vendor == collection.title %}
          window.CuberCollectionFilter['pathname'] = '{{ collection.title | url_for_vendor }}';
        {% endif %}
      }
    });

  }
  
  initFilters();
  </script>
      
      <script type="text/javascript">
        $(document).on('shopify:section:select', function(e){
    var $section = $(e.target);
    if ( $section.hasClass('collection-page') ) {
      initSort();
    }
  });

  function initSort() {

    Shopify.queryParams = {};
      if (location.search.length) {
        for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
          aKeyValue = aCouples[i].split('=');
          if (aKeyValue.length > 1) {
            Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
          }
      }
    }

    $(function() {

      $('#sort-by')
        .val('{{ collection.sort_by | default: collection.default_sort_by }}')
        .bind('change', function() {
          window.CuberCollectionFilter['sort'] = $(this).val();
        }
      );

      if ( $('#sort-by').hasClass('styled') ) {
        $('#sort-by').parent().find('.regular-select-inner').html($('#sort-by option:selected').text())
      }

    });

  }
  
  initSort();
  </script>
  
  
  <script type="text/javascript">
      
        function initFilterSortApply() {
    $(function(){

      $('#apply-sort-filter').on('click', function(){

        if ( window.CuberCollectionFilter['sort'] != '' ) {
          if ( window.CuberCollectionFilter['pathname'].indexOf('sort_by') >= 0 ) {
            console.log(window.CuberCollectionFilter['pathname'].match(/sort_by=.+/g));
            window.CuberCollectionFilter['pathname'] = window.CuberCollectionFilter['pathname'].replace(/sort_by=.+/g, 'sort_by=' + window.CuberCollectionFilter['sort']);
          } else {
            window.CuberCollectionFilter['pathname'] = window.CuberCollectionFilter['pathname'] + ( window.CuberCollectionFilter['pathname'].indexOf('?') >= 0 ? '&' : '?' ) + 'sort_by=' + window.CuberCollectionFilter['sort'];
          }
          
        } else {
          // empty
        }
        document.location.href =  window.CuberCollectionFilter['pathname'];
      });

      $('#clear-sort-filter').on('click', function(){
        document.location.href = document.location.origin + '/collections/' + $('#section-collection').data('handle');
      });

    })
  }

  initFilterSortApply();
  </script>
  {% endif %}
   
  {%comment%}INSTAGRAM SOLO EN INDEX{%endcomment%}
  {% assign instafeed_template  = '<div class="instaimg"><a href="{{link}}" target="_blank" title="Instagram {{id}} - Nutrix"><img src="{{image}}" alt="{{caption}}" class="img-fluid"/></a></div>' %}
  {% if template == 'index' %}
  <script type="text/javascript">
    var userFeed = new Instafeed({
      get: 'user',
      userId: '4811847695',
      limit: 8,
      resolution: 'standard_resolution',
      accessToken: '4811847695.1677ed0.88c54f5885614208bc4343f4a78e6f1e',
      sortBy: 'most-recent',
      template: '{{instafeed_template}}',
    });

    userFeed.run();
  </script>
  {% endif %}
  
  {%comment%}SCRIPTS DE PRODUCTOS{%endcomment%}
  {%if template == 'product' %}
  <script type="text/javascript">
  
  $(document).ready(function(){
    $('.image-zoom')
      .wrap('<span style="display:block"></span>')
      .css('display', 'block')
      .parent()
      .zoom({
        url: $(this).find('img').attr('data-zoom')
      });
    });
    
        $("#suscripcion").on("click",function(){    	
      if($("#hdnData").val() == "suscrito"){
        $("#hdnData").val("");
      }else{
      	$("#hdnData").val("suscrito");
      }
    });
  $(function() {
    $("#fixedMobileBuy").remove();
    $(".clientsContainer").hide();
      $(window).on('resize scroll', function() {
        if ((!($(".buyButton").isInViewport())) && ($(window).scrollTop() > 1000)) {
          $("#fixedMobileBuy").addClass("up");
        } else {
          $("#fixedMobileBuy").removeClass("up");
        }
      });
      
       $(".clients").slick({
         dots: false,
         infinite: true,
         slidesToShow: 1,
         slidesToScroll: 1,
         autoplay: true,
         autoplaySpeed: 5000,
         arrows: false,
         responsive: [
         {
           breakpoint: 1024,
           settings: {
             slidesToShow: 2,
             slidesToScroll: 2
           }
         },
         {
           breakpoint: 750,
           settings: {
             slidesToShow: 1,
             slidesToScroll: 1
           }
         }
       ]
     });
  });
</script>
  {%endif%}

  <script type="text/javascript">
	var mouseflowCrossDomainSupport = true;
    window._mfq = window._mfq || [];
    (function() {
        var mf = document.createElement("script");
        mf.type = "text/javascript"; mf.async = true;
        mf.src = "//cdn.mouseflow.com/projects/b778cd6b-8969-43ab-91a0-794313e7130c.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
    })();
  </script>

  <script type="text/javascript">
    
    window.addEventListener("load", cartLoad_product);
    function cartLoad_product(){
    if ( ! $('html').hasClass('ie9') ) {
      $('#add-to-cart-{{ section.id }}').attr('action', $('#add-to-cart-{{ section.id }}').attr('action') + '.js');
    }
        }
  </script>
</body>
</html>
