{% assign section_settings_image_style = section.settings.image_style %}
{% if collection.handle == null or collection.handle == 'all' %}
  {% assign section_settings_image_style = 'no-show' %}
{% endif %}

<div id="section-{{ section.id }}" class="site-box-container container--fullscreen" data-handle="{{ collection.handle }}">

  <div class="site-box box--big lap--box--small-fl box--typo-big box--center-align box--column-flow box__heading box--add-hr {% if collection.image %} fix-me-with-height-hard {% endif %}" data-order="0" data-product-resize="{{ settings.thumb_resize }}" data-size="{{ collection.products.size }}">

    <div class="site-box-content {% if collection.image %} lap--dark {% endif %}">

      <h1 class="title {% if collection.image %} lap--dark {% endif %}">
        {{ collection.title }}
      </h1>

      {% unless collection.description == blank %}
        <div class="rte {% if collection.image %} lap--dark {% endif %}"><div>{{ collection.description }}</div></div>
      {% endunless %}

    </div>

    {% if collection.image %}

      <span class="site-box-background with-image hide lap--show" aria-hidden="true">

        <img
          src="{{ collection.image.src | img_url: '960x' }}" alt="{{ collection.image.alt | escape }}"
          srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-srcset="{{ collection.image.src | img_url: '480x' }} 480w, {{ collection.image.src | img_url: '720x' }} 720w, {{ collection.image.src | img_url: '960x' }} 960w, {{ collection.image.src | img_url: '1440x' }} 1440w, {{ collection.image.src | img_url: '1920x' }} 1920w"
          data-sizes="auto"
          class="lazyload"
        />

        <noscript><span class="ll-fallback" style="background-image:url({{ collection.image.src | img_url: '960x' }}, crop: 'center' }})"></span></noscript>

      </span>

    {% endif %}

  </div>

  {% if collection.image %}
    <div class="site-box box--big lap--hide box--typo-big box--center-align box--column-flow box--no-padding fix-me-with-height box__collection_image" data-order="0" aria-hidden="true">
      {% if collection.image %}

        <span class="site-box-background">

          <img
            src="{{ collection.image.src | img_url: '960x' }}" alt="{{ collection.image.alt | escape }}"
            srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-srcset="{{ collection.image.src | img_url: '480x' }} 480w, {{ collection.image.src | img_url: '720x' }} 720w, {{ collection.image.src | img_url: '960x' }} 960w, {{ collection.image.src | img_url: '1440x' }} 1440w, {{ collection.image.src | img_url: '1920x' }} 1920w"
            data-sizes="auto"
            class="lazyload" />

          <noscript><span class="ll-fallback" style="background-image:url({{ collection.image.src | img_url: '960x' }})"></span></noscript>

        </span>


      {% endif %}
    </div>
  {% endif %}

  {% assign collection_no = 0 %}

	{% paginate collection.products by 50 %}

		{% for product in collection.products %}

      {% assign collection_no = collection_no | plus: 1 %}

	    <div class="site-box box--small box--typo-small lap--box--small-lg box--center-align box--no-padding box--column-flow box__collection" data-order="{{ forloop.index }}">
        <div class="site-box-content">
          {% include 'collection_product-content' %}
        </div>
      </div>

   	{% else %}

      <div class="site-box box--big lap--box--small-fl box--typo-big box--center-align box--column-flow" data-order="1">
        <div class="site-box-content">
          <div class="onboard" style="padding: 0 30px;">
            <p>{{ 'collections.general.no_matches' | t }}</p>
          </div>
        </div>
      </div>

    {% endfor %}

		{% if paginate.pages > 1 and paginate.next %}
      <div class="site-box box--small lap--box--small-lg box--center-align box--no-padding box--column-flow box__paginate">
        <div class="site-box-content">
          <a class="block-fade" href="{{ paginate.next.url }}" title="{{ paginate.next_page }}" aria-label="{{ paginate.next_page }}">
            <span aria-hidden="true">{% include 'asset_svg' with 'plus_icon' %}</span>
          </a>
        </div>
      </div>
		{% endif %}

	{% endpaginate %}

</div>

<style type="text/css">
  {% unless section.settings.collection_filtering_enabled %}
    #site-filter-handle {
      display: none !important;
    }
  {% endunless %}
  {% if section.settings.collection_filtering_type contains 'tags' %}
    .filter-by-groups {
      display: none !important;
    }
  {% else %}
    .filter-by-tags {
      display: none !important;
    }
  {% endif %}

</style>

{% schema %}
  {
    "name": "Collection page",
    "class": "mount-products mount-images",
    "settings": [
      {
        "type": "checkbox",
        "id": "collection_filtering_enabled",
        "label": "Show filtering options"
      },
      {
        "type": "select",
        "id": "collection_filtering_type",
        "label": "Filtering type",
        "options": [
          {
            "value": "by-tags",
            "label": "Filter by tags"
          },
          {
            "value": "by-groups",
            "label": "Filter by groups"
          }
        ]
      }
    ]
  }
{% endschema %}
