<div id="site-footer" class="site-footer site-box-container container--fullscreen">
<div class="footerContainer">
  <div class="footerBlock green">
    <div class="divMarcanosRight">
      <h1>M&#225;rcanos y resuelve tus dudas</h1>
      <h2><a href="tel:01-800-022-7323" title="Teléfono - {{shop.name}}">01-800-022-7323</a></h2>
      <a href="tel:01-800-022-7323" title="Teléfono Móvil - {{shop.name}}">
        <div class="marcaYaFooter">
          <p>Marca Ya</p>
        </div>
      </a>
    </div>
    <div class="divMarcanosLeft">
      <h1>S&#237;guenos</h1>
      <div class="footerSocial">
        <a href="https://twitter.com/nutrixmexico" title="Twitter - Nutrix México">
          <img src="https://cdn.shopify.com/s/files/1/1955/0919/files/Nutrix-Icon-TwitterWhite.svg" alt="Twitter - Nutrix México">
        </a>
        <a href="https://instagram.com/nutrixmexico/" title="Instagram - Nutrix México">
          <img src="https://cdn.shopify.com/s/files/1/1955/0919/files/Nutrix-Icon-InstaWhite.svg" alt="Instagram - Nutrix México">
        </a>
        <a href="https://facebook.com/nutrixmexico" title="Facebook - Nutrix México">
          <img src="https://cdn.shopify.com/s/files/1/1955/0919/files/Nutrix-Icon-FBGWhite.svg" alt="Facebook - Nutrix México"></a>
      </div>
    </div>
  </div>
  <div class="footerBlock">
    <h1>Recibe ofertas y noticias</h1>
    {%- include 'footer_content-newsletter' -%}
  </div>
  <div class="footerBlock info">
    <div class="footerTextDiv">
      <div class="footerInfoDiv left">
        <p><a href="/" title="Inicio - Nutrix México">Inicio</a></p>
        <p><a href="/collections/suplementos-nutrix" title="Productos - Nutrix México">Productos</a></p>
        <p><a href="/collections/sistemas-nutrix" title="Sistemas Nutrix - Nutrix México">Sistemas Nutrix&#174;</a></p>
        <p><a href="/blogs/blog" title="Blog - Nutrix México">Blog</a></p>
      </div>
      <div class="footerInfoDiv left">
        <p><a href="/pages/contacto" title="Contacto - Nutrix México">Contacto</a></p>
        <p><a href="/pages/politica-de-devoluciones-y-terminos-de-reembolso" title="Reembolsos - Nutrix México">Reembolsos</a></p>
        <p><a href="/pages/politica-de-devoluciones-y-terminos-de-reembolso" title="Devoluciones - Nutrix México"> y Devoluciones</a></p>
      </div>
    </div>
    <div class="footerInfoDiv right">
      <img src="//cdn.shopify.com/s/files/1/1955/0919/files/logo_2018_nutrix_200x.png" alt="Logo Gris - Nutrix México">
      <p>&#169; Nutrix M&#233;xico 2018</p>
    </div>
  </div>
</div>
</div>