<!-- <div class="top-info"><p>¡Envíos Gratis en compras a partir de $550!</p></div> -->
<!--<div class="top-info"><p>¡20% de Descuento en Sistema Peso Saludable!</p></div>-->
<!-- <div class="top-info"><p>Sólo hoy ¡Envíos Gratis en compras a partir de $350!</p></div> -->
<div class="top-info top-infoTemp"><p> ¡Envío Gratis en compras arriba de $1,500!</p></div>
<header id="site-header" class="site-header desktop-view--{{ section.settings.menu_style }} header-scroll">



  <!--<div itemscope itemtype="http://schema.org/Organization" style="display:none;">
    	<a itemprop="url" href="https://nutrixmexico.com"></a>
    	<meta itemprop="name" content="{{ shop.name }}" />
    	<meta itemprop="description" content="{{ shop.description }}" />
    	<img itemprop="logo" src="https:{{ section.settings.logo_src | img_url: 'master'| split:'?' | first }}" alt="Logo - {{shop.name}}" />
    	<meta itemprop="telephone" content="01-800-022-7323" />
    	<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress">Cerro de Compostela 28</span>
          <span itemprop="addressLocality">Ciudad de México</span>,
          <span itemprop="addressRegion">CDMX</span>
          <span itemprop="postalCode">04200</span>
    	</div>
  </div>-->

  <!-- logo -->
  {% if template == 'index' %}
    <h1 class="logo">
  {% else %}
    <span class="logo">
  {% endif %}

    {% if section.settings.logo_src %}

      <a class="logo-img" href="/" title="Logo - {{ shop.name }}">
        <img src="{{ section.settings.logo_src | img_url: '200x'| split:'?' | first }}" alt="{{ shop.name }}" style="max-width: {{ section.settings.logo_width | escape }}px;" />
      </a>

    {% else %}

      <a class="logo-txt" href="/" title="{{ shop.name }}">{{ shop.name }}</a>

    {% endif %}

  {% if template == 'index' %}
    </h1>
  {% else %}
    </span>
  {% endif %}

  <!-- menu -->

  <div id="site-nav--desktop" class="site-nav style--classic">

    <div class="site-nav-container portable--hide">
      <nav class="primary-menu">{% include 'header_nav-menu' with section.settings.menu_main_select %}</nav>
    </div>

    {% if template.name == 'collection' %}

      <button id="site-filter-handle" class="site-filter-handle" aria-label="{{ 'general.navigation.open_filters' | t }}">
        <span class="filter-menu" aria-hidden="true">
          <span class="bar"></span><span class="bar"></span><span class="bar"></span>
        </span>
      </button>

    {% endif %}

    <span id="site-search-handle" class="site-search-handle" aria-label="{{ 'general.navigation.open_search' | t }}" title="{{ 'general.navigation.open_search' | t }}">

      <a href="/search" title="Buscar - {{ shop.name }}">
        <span class="search-menu" aria-hidden="true">
          {% include 'asset_svg' with 'search_icon' %}
        </span>
      </a>

    </span>

    <span id="site-cart-handle" class="site-cart-handle {{ settings.cart_action }}" aria-label="{{ 'general.navigation.open_cart' | t }}" title="{{ 'general.navigation.open_cart' | t }}">

          <span class="cart-menu" id="cartOpenBtn" aria-hidden="true">
            {% include 'asset_svg' with 'cart_icon' %}
            <span class="count-holder"><span class="count">{{ cart.item_count }}</span></span>
          </span>

    </span>

    <button id="site-menu-handle" class="site-menu-handle hide portable--show" aria-label="{{ 'general.navigation.open_menu' | t }}" title="{{ 'general.navigation.open_menu' | t }}">
      <span class="hamburger-menu" aria-hidden="true"><span class="bar"></span></span>
    </button>

  </div>

</header>

<div id="site-nav--mobile" class="site-nav style--sidebar">

  {% include 'sidebar_content-menu' %}

  {% if template.name == 'collection' %}
    {% include 'sidebar_content-filters' %}
  {% endif %}

  {% include 'sidebar_content-cart' %}

  {% include 'sidebar_content-search' %}

  <button id="site-close-handle" class="site-close-handle" aria-label="{{ 'general.navigation.close_sidebar' | t }}" title="{{ 'general.navigation.close_sidebar' | t }}">
    <span class="hamburger-menu active" aria-hidden="true"><span class="bar animate"></span></span>
  </button>

</div>
<div class="cart-overlay-background">
  <div class="cart-overlay">
    {%- include 'cart-pop' -%}
  </div>
</div>

{% schema %}
  {
    "name": "Header",
    "class": "mount-header",
    "max_blocks": 6,
    "settings": [
      {
        "type": "image_picker",
        "id": "logo_src",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_width",
        "label": "Logo image width",
        "unit": "px",
        "min": 20,
        "max": 400,
        "step": 5,
        "default": 100
      },
      {
        "type": "link_list",
        "id": "menu_main_select",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "select",
        "id": "menu_style",
        "label": "Desktop menu style",
        "options": [
          {
            "value": "classic",
            "label": "Classic"
          },
          {
            "value": "minimal",
            "label": "Minimal"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection_select",
            "label": "Collection"
          }
        ]
      }
    ]
  }
{% endschema %}
