{% assign product = all_products[section.settings.featured_product] %}
{% assign current_variant = product.selected_or_first_available_variant %}

{% if product == empty %}
  {% assign section_onboarding = true %}
  {% capture vendor_ %} Vendor name {% endcapture %}
  {% capture title_ %} Your product's name {% endcapture %}
  {% assign compare_at_price = 2999 %}
  {% assign price = 1999 %}
  {% assign gallery_size = 1 %}
{% else %}
  {% assign section_onboarding = false %}
  {% assign vendor_ = product.vendor %}
  {% assign title_ = product.title %}
  {% assign compare_at_price = current_variant.compare_at_price %}
  {% assign price = current_variant.price %}
  {% assign gallery_size = product.images.size %}
{% endif %}

<div id="section-{{ section.id }}" class="site-box-container container--fullscreen box--can-stick onboarding-{{ section_onboarding }} product--section" data-gallery-size="{{ gallery_size }}" data-id="{{ product.id }}">

	<div class="site-box box--big lap--box--bigger box--typo-big box--no-padding box__product-gallery {{ section.settings.gallery_style }}" data-lap="box--bigger" data-order="0">

		<div class="site-box-content">

			{% if section_onboarding or product.images.size == 0 %} 
   
				<div class="gallery-item">
          <span class="onboarding-svg">{{ 'product-1' | placeholder_svg_tag }}</span>
				</div>

			{% else %}

				{% for image in product.images %}
          
          <div class="box--product-image gallery-item" data-index="{{ forloop.index0 }}" {% if image.attached_to_variant? %} data-variant-img="{{ image.variants[0].featured_image.id }}"{% endif %} data-master="{{ image.src | img_url: '2560x' }}">

            <img
              src="{{ image.src | img_url: '960x' }}" alt="{{ image.alt | escape }}"
              srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-srcset="{{ image.src | img_url: '480x' }} 480w, {{ image.src | img_url: '720x' }} 720w, {{ image.src | img_url: '960x' }} 960w, {{ image.src | img_url: '1440x' }} 1440w, {{ image.src | img_url: '1920x' }} 1920w"
              data-sizes="auto"
              class="lazyload" 
            />

            <noscript><span class="ll-fallback" style="background-image:url({{ image.src | img_url: '960x' }})"></span></noscript> 

          </div>


				{% endfor %}

			{% endif %}

		</div>

	</div>
  
  <div class="site-box box--big lap--box--bigger box--typo-big box--center-align box--column-flow box__product-content"  data-lap="box--bigger" data-order="1">

    <div class="site-box-content fix-me-with-margin">
      
      <h3 class="product-title" itemprop="name">{{ title_ }}</h3>

      {% if section.settings.product_vendor_enabled %}
        {% capture vendor %} {{ vendor_ | link_to_vendor }} {% endcapture %}
        <p class="product-vendor" itemprop="brand">{{ 'product.vendor_html' | t: vendor: vendor }}</p>
      {% endif %}

      <span class="price">
        {% include 'product_badges' %}
        <span class="product-price">{{ price | money }}</span>
        {% if compare_at_price > price %}
          <span class="info compare-price">{{ compare_at_price | money }}</span>
        {% endif %}
      </span>

      <div class="offers" itemprop="offers" itemscope itemtype="//schema.org/Offer">

        {% if section_onboarding %}

          <div class="cart-functions">

            <input type="number" name="quantity" value="1" min="1" class="quantity-selector" aria-label="Quantity" style="display: none;">
            <button type="submit" name="add" class="button color disabled" disabled=""><span id="addToCartText">Sold out</span></button>
            <span class="variant-quantity">There are no products left</span>

          </div>

        {% else %}

          {% assign variant = product.selected_or_first_available_variant %}
              
          <meta itemprop="price" content="{{ product.price | money_without_currency }}">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">

          <link itemprop="availability" href="//schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <div id="add-to-cart-{{ section.id }}" class="product--add-to-cart-form style--{{ section.settings.variants_style }}" data-type="{{ settings.cart_action }}">

            <form action="/cart/add" method="post" enctype="multipart/form-data">

              {% for option in product.options_with_values %}
                <div class="product-variant selector-wrapper hidden">
                  <label for="product-{{ option.name | downcase | strip }}">{{ option.name }}</label>
                  <select class="product-variants" id="product-{{ option.name | downcase | strip }}">
                    {% for value in option.values %}
                      <option {% if option.selected_value == value %}selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              {% endfor %}

               <select id="productSelect" name="id" class="styled" style="display: none;">
                {% for variant in product.variants %}
                  {% if variant.available %}
                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                      {{ variant.title }}
                    </option>
                  {% else %}
                    <option disabled="disabled">{{ variant.title }}</option>
                  {% endif %}
                {% endfor %}
              </select>

              <div class="cart-functions">

                {% if section.settings.quantity_selector %}
                  <input type="number" name="quantity" value="1" min="1" class="quantity-selector" aria-label="{{ 'product.quantity' | t }}">
                {% endif %}

                <button type="submit" name="add" class="button color"><span class="add-to-cart-text">{{ 'product.add_to_cart' | t }}</span></button>

                <span class="variant-quantity"></span>

              </div>

            </form>

          </div>

        {% endif %}

      </div>
      
      {% unless section_onboarding %}
        <div class="rte" itemprop="description">
          {{ product.description }}
        </div>
      {% endunless %}

    </div>

  </div>

</div>

{% if section.settings.gallery_resize == 'fit' %}
  <style type="text/css">
    #section-{{ section.id }} .box__product-gallery .box--product-image {
      background-size: contain;
      width: 80%;
      height: 80%;
      margin: 10%;
    }
    #fix-me-header {
      content: "fix-gallery-item";
    }
    @media  screen and (max-width: 768px), screen and (max-width: 1024px) and (orientation: portrait){ 
      #section-{{ section.id }} .box__product-gallery .box--product-image {
        width: 90% !important;
        height: 90% !important;
        margin: 5%;
      }
    }
  </style>
{% endif %}




{% schema %}
	{
    "name": "Featured product",
    "class": "mount-product mount-images",
    "settings": [
      {
        "type": "product",
        "id": "featured_product",
        "label": "Product"
      },
      {
        "type": "select",
        "id": "gallery_style",
        "label": "Gallery style",
        "options": [
          {
            "value": "scroll",
            "label": "Scroll"
          },
          {
            "value": "slider",
            "label": "Slider"
          }
        ]
      },
      {
        "type": "select",
        "id": "gallery_resize",
        "label": "Gallery image aspect",
        "options": [
          {
            "value": "fill",
            "label": "Cropped"
          },
          {
            "value": "fit",
            "label": "Natural"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "product_vendor_enabled",
        "label": "Show vendor",
        "default": true
      },
      {
        "type": "select",
        "id": "variants_style",
        "label": "Variants style",
        "options": [
          {
            "value": "minimal",
            "label": "Minimal"
          },
          {
            "value": "classic",
            "label": "Classic"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "quantity_selector",
        "label": "Show quantity selector",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Featured product",
        "category": "Product"
      }
    ]
   }
{% endschema %}