<style>

  @media only screen and (max-width: 380px) {
    .heroDesc{
      font-size: 18px !important;
      top: 80px !important;
      position: absolute;
      text-align: center;
    }
  }
  @media only screen and (max-width: 750px) {
.header-text {
    align-items: center;
    width: 100%;
  }

    .heroDesc{
      font-size: 18px !important;
      top: 80px;
      position: absolute;
      text-align: center;
      display:none;
    }
    .home-header-banner{
      font-size: 40px !important;
      right: unset !important;
      top: 3% !important;
    }
    .home-header-bannerh1{
      margin-bottom: 20px;
      font-size: 52px !important;
    }

    .home-header-banner h1, .home-header-banner h3{
      line-height: 1 !important;
       font-size:54px;
       letter-spacing: 2px;
       font-weight: normal;
    }


    .vitamin{
    font-size: 60px !important;;
    line-height: 30px !important;
    }
  }

  @media only screen and (min-width: 751px) {
    .mobileContent{
    	display: none;
    }

    .home-header-banner{
    	top: 20%;
    }

    .heroDesc{
      font-size: 60px;
    }
  }
  .home-header-banner{
    font-size: 50px;
    text-shadow: none !important;
  }
  .home-header-bannerh1{
    font-size: 70px;
    border: none;
  }
  .customAnchor{
    right: 15%;
    bottom: 15%;
    position: absolute;
  }
  .bigDiscount{
    color: #fff;
    font-size: 5rem;
    line-height: 80px !important;
    text-align: center;

  }
  .heroDesc{
    line-height: 1;
    -webkit-text-stroke-width: thin;
    color: #326D57;
    text-align: center;
    font-size: 30px;
  }
.retoNutrixAnchor{
    font-size: 40px;
    background: orange;
    text-shadow: none;
    color: white;
    -webkit-text-stroke-width: initial;
    font-weight: bold;
    padding: 0px 40px;
    border-radius: 50px;
}

.vitamin{
  font-size:120px;
}


  /*este estilo es para el hero reto nutrix*/


/*   .home-header-first {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row;
    background-image: url(https://cdn.shopify.com/s/files/1/1955/0919/files/Nutrix-Img-Hero-V2.jpg?1548332…);
    background-size: cover;
  }   */
  /*este estilo es para el hero la vida es mejor cuidandose*/
</style>
<div class="home-header">
  <div class="home-header-first">
    <div class="header-text">
      <h1>CUMPLE TUS<br>PROPÓSITOS</h1>
      <center><a href="https://nutrixmexico.com/collections/bajar-de-peso" class="retoNutrixAnchor desktopContent">Ver Productos</a></center>
    </div>
  </div>
<!--   <div class="home-header-first">
    <div class="home-header-banner">
      <h3>RETO NUTRIX</h3>
      <h1 class="home-header-bannerh1">30 DÍAS</h1>
      <p class="retoNutrixAnchor">Próximo Reto 5 de Noviembre</p>
      <a href="https://nutrixmexico.com/pages/reto-30-dias" class="retoNutrixAnchor">Más Información</a>
    </div>
  </div> -->

<!--   <div class="home-header-first">
    <div class="home-left first">
    </div>
    <div class="home-right first">
      <div class="text-title-home">
        <h1>La vida es mejor cuidándose.</h1>
        <h6>Suplementos alimenticios para una vida más saludable</h6>
        <a href="https://nutrixmexico.com/collections/sistemas-nutrix"><div>Conoce Nuestros Sistemas</div></a>
      </div>
    </div>
  </div> -->

  <div class="home-products-container">
    {% for product in collections.suplementos-nutrix.products limit: 8 %}
      <a href="{{ product.url }}"
        title="{{ product.title}}">
        <div class="individualCollectionHome">
          {%- if product.compare_at_price_max > product.price -%}
            <img class="individualCollectionOffer" src="https://cdn.shopify.com/s/files/1/1955/0919/files/Nutrix-Icon-OFERTA-v3_1.svg" alt="Oferta - {{shop.name}}">
          {%- endif -%}
          <img class="individualCollectionImg" src="{{ product.featured_image.src | img_url: '500x' }}" alt="">
          <h1>{{ product.title | truncate: 20 }}</h1>
          <h2>{{ product.price | money }}</h2>
        </div>
      </a>
    {% endfor %}
  </div>
  <div class="sistemasContigo">
    <div class="sistemasContigoLeft">
      <h1>Sistemas Nutrix, siempre contigo.</h1>
      <h6>Tomamos plantas, semillas, y demás ingredientes naturales, y extraemos de ellos sustancias.</h6>
      <a href="https://nutrixmexico.com/collections/sistemas-nutrix" title="Sistemas Nutrix - {{shop.name}}"><div>Conoce Nuestros Sistemas</div></a>
    </div>
    <div class="sistemasContigoImg">
      <img src="https://cdn.shopify.com/s/files/1/1955/0919/files/Peso-Saludable-1.jpg?14104976914888398256" alt="Sistema Contigo - {{shop.name}}" />
    </div>
  </div>
  <div class="home-left three">
    <div class="home-propuesta">
      <h1>Natural</h1>
      <p>Tomamos plantas, semillas, y demás ingredientes naturales, y extraemos de ellos sustancias específicas que nuestro cuerpo necesita.</p>
    </div>
    <div class="home-propuesta">
      <h1>Calidad</h1>
      <p>Nuestros laboratorios sobrepasan por mucho el standard en términos de limpieza y calidad, porque nuestro objetivo es darte el mejor producto posible.</p>
    </div>
    <div class="home-propuesta">
      <h1>Enfoque Integral</h1>
      <p>Nuestros sistemas integrales se enfocan en las distintas necesidades que tiene nuestro cuerpo en relación con las distintas actividades y etapas de nuestras vidas.</p>
    </div>
  </div>
  <div class="home-right three">
    <div class="home-propuesta sticky">
    </div>
    <div class="home-propuesta">
    </div>
    <div class="home-propuesta">
    </div>
  </div>
</div>
<div class="container">
  <div id="instafeed" class="row gallery">
    <!--<div class="instaimgText">
      <h1>&#218;nete a la comunidad Nutrix</h1>
    </div>-->
  </div>
</div>