<div id="section-{{ section.id }}" class="site-box-container container--fullscreen box--can-stick product--section" itemscope itemtype="//schema.org/Product" data-collection="{{ collection.handle }}" data-gallery-size="{{ product.images.size }}" data-id="{{ product.id }}">

	<div class="site-box box--big lap--box--bigger box--typo-big box--no-padding box__product-gallery {{ section.settings.gallery_style }}" data-lap="box--bigger" data-order="0">

		<div class="site-box-content">

			{% if product.images.size == 0 %}

				<div class="gallery-item">
          <span class="onboarding-svg">{{ 'product-1' | placeholder_svg_tag }}</span>
				</div>

			{% else %}

				{% for image in product.images %}

					<div class="box--product-image gallery-item" data-index="{{ forloop.index0 }}" {% if image.attached_to_variant? %} data-variant-img="{{ image.variants[0].featured_image.id }}"{% endif %} data-master="{{ image.src | img_url: '2560x' }}">

            <img
              src="{{ image.src | img_url: '960x' }}" alt="{{ image.alt | escape }}"
              srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-srcset="{{ image.src | img_url: '480x' }} 480w, {{ image.src | img_url: '720x' }} 720w, {{ image.src | img_url: '960x' }} 960w, {{ image.src | img_url: '1440x' }} 1440w, {{ image.src | img_url: '1920x' }} 1920w"
              data-sizes="auto"
              class="lazyload"
            />

            <noscript><span class="ll-fallback" style="background-image:url({{ image.src | img_url: '960x' }})"></span></noscript>

					</div>

				{% endfor %}

			{% endif %}

		</div>

    {% if section.settings.gallery_zoom %}

      <div id="product-zoom-in" class="product-zoom out-with-you {% unless section.settings.site_sharing %} no-sharing {% endunless %}" aria-label="{{ 'product.zoom_product_image.zoom_in' | t }}" title="{{ 'product.zoom_product_image.zoom_in' | t }}">
        <span class="zoom-in" aria-hidden="true">{% include 'asset_svg' with 'zoom_in_icon' %}</span>
      </div>

    {% endif %}

    {% if section.settings.site_sharing %}
      {% include 'social_sharing' %}
    {% endif %}

	</div>

  <div class="site-box box--big lap--box--bigger box--typo-big box--center-align box--column-flow box__product-content"  data-lap="box--bigger" data-order="1">

    <div class="site-box-content fix-me-with-margin">

      <h1 class="product-title" itemprop="name">{{ product.title }}</h1>

      {% if section.settings.product_vendor_enabled %}
        {% capture vendor %} {{ product.vendor | link_to_vendor }} {% endcapture %}
        <p class="product-vendor" itemprop="brand">{{ 'product.vendor_html' | t: vendor: vendor }}</p>
      {% endif %}

      <span class="price">
        {% include 'product_badges' %}
        <span class="product-price">{{ product.price | money }}</span>
        {% if product.compare_at_price > product.price %}
          <span class="info compare-price">{{ product.compare_at_price | money }}</span>
        {% endif %}
      </span>

      <div class="offers" itemprop="offers" itemscope itemtype="//schema.org/Offer">

       {% assign variant = product.selected_or_first_available_variant %}

        <meta itemprop="price" content="{{ product.price | money_without_currency }}">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">

        <link itemprop="availability" href="//schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

        <div id="add-to-cart-{{ section.id }}" class="product--add-to-cart-form style--{{ section.settings.variants_style }}" data-type="{{ settings.cart_action }}">

          <form action="/cart/add" method="post" enctype="multipart/form-data">
            {% for option in product.options_with_values %}
              <div class="product-variant selector-wrapper hidden">
                <label for="product-{{ option.name | downcase | strip }}">{{ option.name }}</label>
                <select class="product-variants" id="product-{{ option.name | downcase | strip }}">
                  {% for value in option.values %}
                    <option {% if option.selected_value == value %}selected{% endif %}>{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
            {% endfor %}
             <select id="productSelect" name="id" class="styled" style="display: none;">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option disabled="disabled">{{ variant.title }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <div class="cart-functions">
              {% if section.settings.quantity_selector %}
                <input type="number" name="quantity" value="1" min="1" class="quantity-selector" aria-label="{{ 'product.quantity' | t }}">
              {% endif %}
              <button type="submit" name="add" class="button color"><span class="add-to-cart-text">{{ 'product.add_to_cart' | t }}</span></button>
              <span class="variant-quantity"></span>
            </div>
          </form>

        </div>

      </div>

      <div class="rte" itemprop="description">
        {{ product.description }}
      </div>

    </div>

  </div>

</div>

{% if section.settings.related_products %}
  {% include 'product_related' %}
{% endif %}

{% if section.settings.gallery_resize == 'fit' %}
  <style type="text/css">
    #section-{{ section.id }} .box__product-gallery .box--product-image {
      background-size: contain;
      width: 80%;
      height: 80%;
      margin: 10%;
    }
    #fix-me-header {
      content: "fix-gallery-item";
    }
    @media  screen and (max-width: 768px), screen and (max-width: 1024px) and (orientation: portrait){
      #section-{{ section.id }} .box__product-gallery .box--product-image {
        width: 90% !important;
        height: 90% !important;
        margin: 5%;
      }
    }
  </style>
{% endif %}

{% if settings.cart_action == 'overlay' %}
  <script type="text/javascript">
    if ( ! $('html').hasClass('ie9') ) {
      $('#add-to-cart-{{ section.id }}').attr('action', $('#add-to-cart-{{ section.id }}').attr('action') + '.js');
    }
  </script>
{% endif %}

{% unless product.empty == empty %}

  <script type="application/json" id="ProductJson-{{ section.id }}" class="product-json">
    {{ product | json }}
  </script>

  <script type="text/javascript">
    {% if product.available %}
      window.advancedOptionsSelector($('#shopify-section-{{ section.id }}'), {{ product | json }});
    {% else %}
      window.disableProductVariants = true;
    {% endif %}
  </script>

{% endunless %}

{% schema %}
	{
    "name": "Product page",
    "class": "mount-product mount-images",
    "settings": [
      {
        "type": "select",
        "id": "gallery_style",
        "label": "Gallery style",
        "options": [
          {
            "value": "scroll",
            "label": "Scroll"
          },
          {
            "value": "slider",
            "label": "Slider"
          }
        ]
      },
      {
        "type": "select",
        "id": "gallery_resize",
        "label": "Gallery image aspect",
        "options": [
          {
            "value": "fill",
            "label": "Cropped"
          },
          {
            "value": "fit",
            "label": "Natural"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "gallery_zoom",
        "label": "Enable image zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "product_vendor_enabled",
        "label": "Show vendor",
        "default": true
      },
      {
        "type": "select",
        "id": "variants_style",
        "label": "Variants style",
        "options": [
          {
            "value": "minimal",
            "label": "Minimal"
          },
          {
            "value": "classic",
            "label": "Classic"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "quantity_selector",
        "label": "Show quantity selector",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "related_products",
        "label": "Show related products",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "site_sharing",
        "label": "Enable product sharing",
        "default": true
      }
    ]
   }
{% endschema %}
