{% assign current_url = product.url %}
{% assign foundd = false %}
{% for cc in product.collections %}
<!-- se asigna my_description para sistemas y my_descriptionp para productos -->
<!-- con esto se divide las descripciones usando split al editar el texto del producto -->
  {% if cc.handle == "sistemas-nutrix" %}
    {% assign foundd = true %}
    {% assign my_description = product.description | split: '<!-- split -->'  %}
  {% endif %}
{% endfor %}
{% if foundd == false %}
  {% assign my_descriptionp = product.description | split: '<!-- split -->'  %}
{% endif %}
<style>
  @media screen and (min-width: 769px){
    .suscripcion{
      width: 20vw;
    }
  }
  .suscripcion{
  	padding-top: 2vh;
  }
  #suscripcion, label[for="suscripcion"]{
  	cursor: pointer;
  }
  .productBeneficios ul{
  	list-style-type:disc;
    padding-left: 25px;
  }
  .dropDescription, .dropBeneficios{
  	width: 100%;
    margin: 0;
    left: 0;
    border-top: #2FD183 1px solid;
    box-shadow: none;
  }
  .productsBarBottom h1, .productsBarTop h1{
  	margin-left: 5%;
  }
  .productsBarBottom div{
  	margin-right: 9%;
  }

  .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    height: 600px!important;
    padding: 0;
    overflow-y: scroll;
}
</style>


{%comment%}
Documentación de Data Estructurada de Google:
https://support.google.com/merchants/answer/6386198?hl=es-419
{%endcomment%}

{%capture avail %}{% if product.available %}InStock{% else %}OutOfStock{% endif %}{%endcapture%}
<div style="display:none;" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">

  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="description">{{ my_description[1] }}</span>
  <img itemprop="image" src="{{ product.featured_image.src | img_url: '960x' }}" alt="{{ image.alt | escape }}" />

  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="price" content="{{ product.price | money_without_currency }}">
    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
    <link itemprop="availability" href="//schema.org/{{avail}}">{{avail}}
    <link itemprop="itemCondition" href="//schema.org/NewCondition">
  </div>

</div>

<div style="display: none;"class="site-box box--big lap--box--bigger box--typo-big box--no-padding box__product-gallery {{ section.settings.gallery_style }}" data-lap="box--bigger" data-order="0">
</div>
<div class="infoNutrimentalContainer">
  {% if product.title contains 'Proteína de Soya' %}
    <img class="image-zoom" src="{{  product.images[3] | img_url: '1080x1080' }}" data-zoom="{{  product.images[3] | img_url: 'large', scale: 3 }} alt="{{ product.featured_image.alt | escape  }}">
  {% else  %}
    <img class="image-zoom" src="{{  product.images[1] | img_url: '1080x1080' }}" data-zoom="{{  product.images[3] | img_url: 'large', scale: 3 }} alt="{{ product.featured_image.alt | escape  }}">
  {% endif %}
  <button type="button" name="button" class="infoNutClose">CERRAR</button>
</div>
<div class="product-template">
  <div id="top-product-image" class="product-left">
    {% if product.available != true %}
      <div class="agotadoImg">
        <h1>Agotado</h1>
      </div>
      <img class="agotadoImg" src="https://cdn.shopify.com/s/files/1/1955/0919/files/Nutrix-Icon-Agotado-v2.svg" alt="Producto Agotado">
    {% endif %}
    <img class="featuredImage" src="{{ product.featured_image.src | img_url: '960x' }}" alt="{{ image.alt | escape }}" >
    <div class="secure-box">
      <div class="secure-box-item small">
        <img src="https://cdn.shopify.com/s/files/1/1955/0919/files/Nutrix-Icon-Shopify-v3.svg" alt="Shopify Secure">
        <p>Procesamos tu pago de manera segura con <strong><u>Shopify Secure.</u></strong></p>
      </div>
      <div class="secure-box-item big">
        <p>Los productos Nutrix cuentan con la clasificación como suplemento alimenticio ante la COFEPRIS.</p>
      </div>
    </div>
  </div>
  <div class="product-right">
      <div class="container-product-right">
        <h1 class="product-title">{{ product.title }}</h1>
        {% assign found = false %}
        {% for c in product.collections %}
          {% if c.handle == "sistemas-nutrix" %}
            {% assign found = true %}
            <h1 class="product-subtitle">Sistema Nutrix</h1>
          {% endif %}
        {% endfor %}
        {% if found == false %}
          <h1 class="product-subtitle">{{ my_descriptionp[0] }}</h1>
        {% endif %}
        <h2 class="product-price">{{ product.price | money }}</h2>
        <!-- Se agrega texto para identificalro en el archivo custom.js y asi aplicar el descuento por javascript -->
        {% if product.title contains "Hidratante y Humectante" %}
     <!--  if product.title contains Hidratante y Humectante or product.title contains Carnitina  -->
          <h1 class="discountCheck" stlye="display: none;">3-15</h1>
          <h2 class="product-priceVolume 3-15"></h2>
        {% endif %}
        {% if product.title contains "Jugo Verde" %}
          <h1 class="discountCheck" stlye="display: none;">2-15</h1>
          <h2 class="product-priceVolume 2-15"></h2>
        {% endif %}
        {% if product.title contains "Yoga" %}
          <h1 class="discountCheck" stlye="display: none;">3-10</h1>
          <h2 class="product-priceVolume 3-10"></h2>
        {% endif %}
        {% if product.compare_at_price > product.price %}
          <img class="offerImg" src="https://cdn.shopify.com/s/files/1/1955/0919/files/Nutrix-Icon-OFERTA-v3.svg" alt="Oferta - {{shop.name}}">
          <h6 class="info compare-price">{{ product.compare_at_price | money }}</h6>
        {% endif %}
          <form action="/cart/add" method="post" enctype="multipart/form-data">
              {% if product.variants.size > 1 %}
                <select id="productSelectt" name="id" class="styled">
              {% else %}
                <select id="productSelectt" name="id" class="styled" style="display:none;">
              {% endif %}
               {% for variant in product.variants %}
                 {% if variant.available %}
                   <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                     {{ variant.title }}
                   </option>
                 {% else %}
                   <option disabled="disabled">{{ variant.title }}</option>
                 {% endif %}
               {% endfor %}
             </select>
            <div class="cart-functions">
              <div class="quantnityDiv">
                <div class="priceMobile">
                  <h2 class="product-price">{{ product.price | money }}</h2>
                  {% if product.compare_at_price > product.price %}
                    <img class="offerImgMobile" src="https://cdn.shopify.com/s/files/1/1955/0919/files/Nutrix-Icon-OFERTA-v3.svg" alt="Oferta Móvil">
                    <h6 class="info compare-price">{{ product.compare_at_price | money }}</h6>
                  {% endif %}
                </div>
                {% if product.available %}
                <div class="quantityButtons">
                  <button class="productQuantityAdd" id="removebtn" type="button" name="button"></button>
                  <input class="productQuantity" min="1" type="number" id="quantity" name="quantity" value="1" />
                  <button class="productQuantityAdd" id="addbtn" type="button" name="button"></button>
                </div>
                {% else %}
                <div class="quantityButtons gray">
                  <button class="productQuantityAdd" id="removebtn" type="button" name="button"></button>
                  <input class="productQuantity" min="1" type="number" id="quantity" name="quantity" value="1" />
                  <button class="productQuantityAdd" id="addbtn" type="button" name="button"></button>
                </div>
                {% endif %}
              </div>
              {% if product.available %}
                <!--<a id="buyNowCartLink"href="/cart/{{ product.selected_variant.id }}:1">
                  <div class="buyNowCart">
                    Comprar Ahora
                  </div>
                </a>-->
               {% if product.handle contains "peso-saludable-reto-nutrix-30-dias" %}
                <button type="button" id="landing-producto" name="add" class="buyButton" style="margin-top: 20px;">Más Información</button>
                <span class="variant-quantity"></span>
              {% else %}
                 <button type="submit" name="add" class="buyButton" style="margin-top: 20px;">Agregar a Carrito</button>
                <span class="variant-quantity"></span>
              {% endif %}
              {% else %}
                <button type="button" class="buyButton SoldOut"><span class="add-to-cart-text">Agregar a Carrito</span></button>
              {% endif %}
              <div class="suscripcion">
                <label for="suscripcion">
                  <input type="checkbox" id="suscripcion" class="suscribeCheck">
                  Me interesa suscribirme para recibir este producto mensualmente sin costo de envío.
                </label>
                <br>
                <!--<button type="button" id="suscripcion" class="buyButton">Suscribirse</button>-->
                <input type="hidden" id="hdnData" value="" name="properties['suscripcion']">
              </div>
            </div>
          </form>
          <div class="saso-volumes"></div>
          <div class="saso-bundle"></div>
        <div class="dropBeneficios">
          <h1>Beneficios</h1>
          <div></div>
        </div>
        <div class="productBeneficios" >
          <h3 class="beneficiosTitle">beneficios</h3>
          {{ my_description[0] }}{{ my_descriptionp[1] }}
          {% if foundd != true %}
            <h3 class="infoNut">Información Nutrimental</h3>
          {% endif %}
        </div>
        <div class="dropDescription">
          <h1>Informaci&#243;n</h1>
          <div></div>
        </div>
        <div class="productDescription mobile" >
          {{ my_description[1] }}{{ my_descriptionp[2] }}
        </div>
      </div>
      {% if foundd == true %}
      <div id="contenidosBar"class="productsBarBottom">
        <h1>Contenidos del Kit</h1>
        <div></div>
      </div>
      {% endif %}
    </div>
  <div class="product-left fifth">

  </div>
  <div class="product-right fifth">
    <div class="container-product-right">
      <div class="productDescription" >{{ my_description[1] }}{{ my_descriptionp[2] }}</div>
      <div class="pagaSectionTelefono">
        <h3>ventas por tel&#233;fono</h3>
        <h1>01-800-022-7323</h1>
      </div>
      <div class="pagaEnvia">
        <div class="pagaSection">
          <h3>paga con</h3>
          <img class="pagaImg"src="https://cdn.shopify.com/s/files/1/1955/0919/files/Nutrix-Icon-PAGO_320x.png" alt="Pagos - {{shop.name}}">
        </div>
        <div class="pagaSection">
          <h3>enviado con</h3>
          <img class="pagaImg" src="https://cdn.shopify.com/s/files/1/1955/0919/files/Nutrix-Icon-ENVIO_320x_af179235-9dfa-467d-a1bc-bb2cee7636ef.png?12416741674559155053" alt="Envíos - {{shop.name}}">
        </div>
      </div>
    </div>
  </div>
  <div class="product-left">
    <div class="deslizaMovil">
      <h1>Desliza para conocer cada producto</h1>
    </div>
    <div class="productDescriptionsCarousell mobile">
      {% include 'carouselKit' %}
    </div>
    <div class="imagesSistema">
      {% include 'imagesCarousel' %}
    </div>
  </div>
  {% if foundd == true %}
    <div class="product-right second">
      <div id="carouselKit" class="container-product-right">
        <h1 class="contenidosTitle">Contenidos del Kit</h1>
        <div class="dotsandarrowsContainer">
          <img class="firstSlick" src="https://cdn.shopify.com/s/files/1/1955/0919/files/Nutrix-Icon-Left.svg" alt="Anterior">
          <div class="dotsandarrows"></div>
          <img class="secondSlick" src="https://cdn.shopify.com/s/files/1/1955/0919/files/Nutrix-Icon-Right.svg" alt="Siguiente">
        </div>
        <div class="productDescriptionsCarousel">
          {% include 'carouselKit' %}
        </div>
      </div>
    </div>
    <!-- <div class="fullHr"> </div> -->
    <div class="product-left hide">
      <img class="product-image-bottom" src="{{ product.featured_image.src | img_url: '960x' }}" alt="{{ image.alt | escape }}" >
    </div>
  {% endif %}
  <div class="product-right third">
    <form id="fixedMobileBuy" action="/cart/add" method="post" enctype="multipart/form-data">
      <div class="titlePrice">
        <h1 class="product-title">{{ product.title | truncate: 13 }}</h1>
        <h2 class="product-price">{{ product.price | money }}</h2>
      </div>
       <select id="productSelect" name="id" class="styled" style="display: none;">
        {% for variant in product.variants %}
          {% if variant.available %}
            <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
              {{ variant.title }}
            </option>
          {% else %}
            <option disabled="disabled">{{ variant.title }}</option>
          {% endif %}
        {% endfor %}
      </select>
        {% if product.available %}
          <div class="quantityButtons">csd
            <button class="productQuantityAdd" id="removebtnn" type="button" name="button"></button>
            <input class="productQuantity" min="1" type="number" id="quantity" name="quantity" value="1" />
            <button class="productQuantityAdd" id="addbtnn" type="button" name="button"></button>
          </div>
          {% else %}
            <div class="quantityButtons gray">
              <button class="productQuantityAdd" id="removebtnn" type="button" name="button"></button>
              <input class="productQuantity" min="1" type="number" id="quantity" name="quantity" value="1" />
              <button class="productQuantityAdd" id="addbtnn" type="button" name="button"></button>
            </div>
          {% endif %}
        {% if section.settings.quantity_selector %}
          <input type="number" name="quantity" value="1" min="1" class="quantity-selector" aria-label="{{ 'product.quantity' | t }}">
        {% endif %}
        {% if product.available %}
          <button type="submit" name="add" class="buyButton">Agregar a Carrito</button>
        {% else %}
          <button type="button" class="buyButton SoldOut"><span class="add-to-cart-text">COMPRAR</span></button>
        {% endif %}
    </form>
    <div id="comoUsoButton" class="productsBarBottom">
      <h1>¿C&#243;mo lo Uso?</h1>
      <div></div>
    </div>
    <div id="comoUso" class="container-product-right">
      <div class="">
        <h1 class="contenidosTitle">¿C&#243;mo lo uso?</h1>
        <h2>{{ my_description[2] }}{{ my_descriptionp[3] }}</h2>
      </div>
      <div class="medicamentoPrecaucion">
        <ul>
          <li>Este producto no es un medicamento.</li>
          <li>El consumo de este producto es responsabilidad de quien lo recomienda y de quien lo usa.</li>
          <li>No se deje al alcance de los niños.</li>
          <li>Las mujeres embarazadas o en períodos de lactancia deben consultar a su médico antes de usar cualquier producto.</li>
        </ul>
      </div>
    </div>
    <div class="mobileHr"></div>
  </div>
  <div class="productSecureSection">
    <div class="marcaYa">
      <div class="pagaSectionTelefono">
        <h3>ventas por tel&#233;fono</h3>
        <h1>01-800-022-7323</h1>
      </div>
      <a href="tel:01-800-022-7323">
      <div class="marcaYaButton">
        MARCA YA
      </div></a>
    </div>
    <div class="pagaEnviaMobile">
      <div class="pagaSection">
        <h3>paga con</h3>
        <img class="pagaImg"src="https://cdn.shopify.com/s/files/1/1955/0919/files/Nutrix-Icon-PAGO_320x.png" alt="Pagos Móvil">
      </div>
      <div class="pagaSection">
        <h3>enviado con</h3>
        <img class="pagaImg" src="https://cdn.shopify.com/s/files/1/1955/0919/files/Nutrix-Icon-ENVIO_320x_af179235-9dfa-467d-a1bc-bb2cee7636ef.png?12416741674559155053" alt="Envíos Móvil">
      </div>
    </div>
  </div>
  <div class="secure-box-mobile">
    <div class="secure-box-item small">
      <img src="https://cdn.shopify.com/s/files/1/1955/0919/files/Nutrix-Icon-Shopify-v3.svg" alt="Shopify Secure - {{shop.name}}">
      <p>Procesamos tu pago de manera segura con <strong><u>Shopify Secure.</u></strong></p>
    </div>
    <div class="secure-box-item big">
      <p>Los productos Nutrix cuentan con la clasificación como suplemento alimenticio ante la COFEPRIS.</p>
    </div>
  </div>
</div>

<div id="section-related-products" class="site-box-container container--fullscreen">
  <div class="puedeInteresar">
    <h1>Tambi&#233;n te puede interesar</h1>
  </div>
  {% assign check_collections = 0 %}
  {% assign found_product_ids = product.id | append: ' , ' %}
  {% assign current_product_found = false %}
  {% if product.collections.size == 0 %}
    {% assign product_collections = collections | reverse %}
  {% else %}
    {% assign product_collections = product.collections | reverse %}
  {% endif %}
  {% if collection %}
    {% for product in collection.products %}
      {% if collection.previous_product %}
        {% if collection.previous_product contains product.handle %}
          {% assign check_collections = check_collections | plus: 1 %}
          {% assign found_product_ids = found_product_ids | append: ' , ' | append: product.id %}
          <div class="site-box box--small lap--box--small-lg box--center-align box--no-padding box--column-flow box__collection" data-order="{{ forloop.index }}">
            <div class="site-box-content">
              {% include 'collection_product-content' %}
            </div>
          </div>
        {% endif %}
      {% endif %}
      {% if collection.next_product %}
        {% if collection.next_product contains product.handle %}
          {% assign check_collections = check_collections | plus: 1 %}
          {% assign found_product_ids = found_product_ids | append: ' , ' | append: product.id %}
           <div class="site-box box--small lap--box--small-lg box--center-align box--no-padding box--column-flow box__collection" data-order="{{ forloop.index }}">
              <div class="site-box-content">
                {% include 'collection_product-content' %}
              </div>
            </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% for collection in product_collections %}
    {% if check_collections < 5 %}
      {% unless collection.handle contains 'frontpage' %}
        {% paginate collection.products by 8 %}
          {% assign collection_products = collection.products %}
          {% for product in collection_products %}
            {% if check_collections < 5 %}
              {% if found_product_ids contains product.id %}
                {% assign current_product_found = true %}
              {% else %}
                {% unless current_product_found == false and forloop.index == forloop.length %}
                 <div class="site-box box--small lap--box--small-lg box--center-align box--no-padding box--column-flow box__collection" data-order="{{ forloop.index }}">
                    <div class="site-box-content">
                      {% include 'collection_product-content' with 'box--small' %}
                    </div>
                  </div>
                  {% assign check_collections = check_collections | plus: 1 %}
                {% endunless %}
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endpaginate %}
      {% endunless %}
    {% endif %}
  {% endfor %}
</div>
