<div class="nosotrosContainer">
  <div class="leftNosotrosContainer">
    <img src="https://cdn.shopify.com/s/files/1/1955/0919/files/Nutrix-Icon-Logo.png?716120175928769885" alt="">
  </div>
  <div class="rightNosotrosContainer">
    <div class="nosotrosBlock">
      <h1>¿Qui&#233;nes somos?</h1>
      <p>Con más de 10 años de respaldo, Bioxilab es fabricante y distribuidor de suplementos nutricionales.</p>
      <p>Nutrix ofrece una versátil gama de fórmulas y presentaciones para que cada cliente elija el suplemento que más se ajuste a sus necesidades.</p>
      <p>Nutrix ofrece una versátil gama de fórmulas y presentaciones para que cada cliente elija el suplemento que más se ajuste a sus necesidades.</p>
    </div>
    <div class="nosotrosBlock gray">
      <h1>Calidad garantizada</h1>
      <p>Los suplementos Nutrix se fabrican a través de minuciosos procesos que cercioran: el desarrollo de fórmulas únicas, la selección de la mejor materia prima, frescura y calidad. De esta manera garantizamos máxima efectividad en cada una de nuestras fórmulas, asegurando la completa satisfacción de cada uno de nuestros clientes.</p>
    </div>
    <div class="nosotrosBlock gray">
      <h1>Nuestro respaldo</h1>
      <p>Contamos con la NORMA Oficial Mexicana NOM-251-SSa1-2009, Prácticas de higiene para el proceso de alimentos, bebidas o suplementos alimenticios.</p>
      <p>Estamos orgullosos de ser una Empresa 100% mexicana que genera bienestar y mejora la calidad de vida de millones de mexicanos.</p>
    </div>
  </div>
</div>
