<div class="devolucionesContainer">
  <div class="leftDevoluciones">
    <h1>Pol&#237;tica de devoluciones y t&#233;rminos de reembolso</h1>
  </div>
  <div class="rightDevoluciones">
    <p>Pol&#237;tica de reembolso y devoluciones<br>Al realizar una compra en el portal nutrixmexico.com usted acepta y está de acuerdo con los t&#233;rminos y condiciones establecidos en esta sección. Le pedimos a nuestros clientes que revisen regularmente esta sección ya que se encuentra sujeta a cambios.</p>
    <p>Pol&#237;tica de Pago<br>Las compras dentro del portal se pueden realizar usando tarjeta de cr&#233;dito o d&#233;bito, y PayPal. Una vez realizado el pago, usted recibirá un correo electrónico confirmando su compra. Todas las transacciones se realizan a trav&#233;s del sistema “Mercado Pago” de MercadoLibre S. de R. L. de C.V. El portal nutrixmexico.com no guarda ni comparte datos referentes a cuentas o tarjetas de cr&#233;dito o d&#233;bito ni PayPal.</p>
  </div>
</div>
