<style>
.home-header-first {
    background-image: url(https://cdn.shopify.com/s/files/1/1955/0919/files/HERO_HS.jpg?12405811386119659996) !important;
    padding: 2%;
}
.sistemasContigo:hover{
	cursor: pointer;
}
.sistemasContigo{
  	border: solid #2FD183 2px !important;
}
.sistemasContigo ul{
	list-style: disc;
}
</style>
<script type="text/javascript">
  $(document).ready(function(){
  	//$(".hideMe").hide();
    $("#veinticinco, #veinte, #quince").on("click", function(){
    	window.location.href = "https://nutrixmexico.com/collections/sistemas-nutrix";
    });
    $("#envio").on("click", function(){
    	window.location.href = "https://nutrixmexico.com/collections/suplementos-nutrix";
    });
    $("#scrollMe").on("click", function(){
      document.querySelector('#veinticinco').scrollIntoView({ 
        behavior: 'smooth' 
      });
    });
    
    
  });
</script>
<div class="shopify-section">
	<div class="home-header-first">
    <div class="home-left first">
    </div>
    <div class="home-right first">
      <div class="text-title-home">
        <h1>Un Hot Sale Saludable</h1>
        <h6>Encuentra todas nuestras ofertas en un solo lugar</h6>
        <a  id="scrollMe"><div>Conoce las ofertas</div></a>
      </div>
    </div>
  </div>
  <div class="sistemasContigo" id="veinticinco">
    <div class="sistemasContigoLeft">
      <h1>25% de Descuento</h1>
      <h6>Los favoritos de todos.</h6>
      <ul>
        <li>Peso Saludable</li>
        <li>Desintoxicación y Purificación Natural</li>
        <li>Salud de la Mujer</li>
      </ul> 
      <a class="hideMe" href="https://nutrixmexico.com/collections/sistemas-nutrix"><div>Compra Ahora</div></a>
    </div>
    <div class="sistemasContigoImg">
      <img src="https://cdn.shopify.com/s/files/1/1955/0919/files/Seccion3_HS.jpg?12405811386119659996" alt="">
    </div>
  </div>
  <div class="sistemasContigo" id="veinte">
    <div class="sistemasContigoLeft">
      <h1>20% de Descuento</h1>
      <h6>Conoce los nuevos sistemas.</h6>
      <ul>
        <li>Día y Noche</li>
        <li>Protector</li>
        <li>Salud Digestiva</li>
      </ul> 
      <a class="hideMe" href="https://nutrixmexico.com/collections/sistemas-nutrix"><div>Compra Ahora</div></a>
    </div>
    <div class="sistemasContigoImg">
      <img src="https://cdn.shopify.com/s/files/1/1955/0919/files/Seccion2_HS.jpg?12405811386119659996" alt="">
    </div>
  </div>
  <div class="sistemasContigo" id="quince">
    <div class="sistemasContigoLeft">
      <h1>15% de Descuento.</h1>
      <h6>¡Todo está en oferta!</h6>
      <ul>
        <li>Vida Plena</li>
        <li>Belleza Radiante</li>
        <li>Kit de Inicio</li>
        <li>Sport + Fitness</li>
        <li>Sport + Fitness (doble proteína y doble carnitina)</li>
      </ul> 
      <a class="hideMe" href="https://nutrixmexico.com/collections/sistemas-nutrix"><div>Compra Ahora</div></a>
    </div>
    <div class="sistemasContigoImg">
      <img src="https://cdn.shopify.com/s/files/1/1955/0919/files/Seccion1_HS.jpg?12405811386119659996" alt="">
    </div>
  </div>
  <div class="sistemasContigo"  id="envio">
    <div class="sistemasContigoLeft">
      <h1>Envío Gratis</h1>
      <h6>En todos los pedidos a partir de <strike>$650.00</strike> $350.00 pesos.</h6>
      <a class="hideMe" href="https://nutrixmexico.com/collections/sistemas-nutrix"><div>Compra Ahora</div></a>
    </div>
    <div class="sistemasContigoImg">
      <img src="https://cdn.shopify.com/s/files/1/1955/0919/files/Seccion4_HS.jpg?12405811386119659996" alt="">
    </div>
  </div>
</div>

{% if image_found %}

	<style type="text/css">
		.rte *:first-child img {
			display: none;
		}
	</style>

{% endif %}